a{
    text-decoration: none;
    color: black;
}
html{
    @w: 13.333333vw;
    font-size: @w;
    text-align: center;
    font-weight: bold;
    perspective: 800px;
    background-image: url("../img/bg-phone.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
header{
    margin: 0 auto;
    padding: 0.2rem 0;
    h1{
        font-size: 0.3rem;
    }
}
main{
    padding: 0.5rem;
    h2{
        font-size: 0.2rem;
    }
    // 头像
    .img-list{
        width: 0.7rem;
        height: 1rem;
        margin: 0.2rem auto;
        transform-style: preserve-3d;
        transform:  rotateY(180deg) rotateX(45deg) rotateY(45deg);
        animation: run 20s infinite linear;
        > div{
            position: absolute;
            width: 0.7rem;
            height: 0.7rem;
            opacity: 0.9;
            img{
                width: 100%;
                vertical-align: top;
            }
        }
        .img-1{
            transform: rotateY(90deg) translateZ(0.35rem);
        }
        .img-2{
            transform: rotateY(-90deg) translateZ(0.35rem);
        }
        .img-3{
            transform: rotateX(90deg) translateZ(0.35rem);
        }
        .img-4{
            transform: rotateX(-90deg) translateZ(0.35rem);
        }
        .img-5{
            transform: rotateZ(0deg) translateZ(0.35rem);
        }
        .img-6{
            transform: rotateZ(180deg) translateZ(0.35rem);
        }
    }

    // 个人信息
    .message{
        width: 100%;
        height: 3rem;
        padding-top: 0.2rem;
        border-top: 1px solid rgba(0, 0, 0, .3);
        border-bottom: 1px solid rgba(0, 0, 0, .3);
        p{
            font-size: 0.2rem;
        }
    }

    // 联系方式
    .contact{
        padding: 0.2rem;
        line-height: 0;
        a{
            font-size: 0.2rem;
            margin: 0;
            padding: 0;
            transition: 2s;
            &:hover{
                    color: rgb(255, 103, 0);
                    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
                    transform: translateY(5px);
            }
        }
    }
}
@media screen{
    @media (min-width: 768px){
       header{
           h1{
               font-size: 40px;
           }
       }
    }
}
@keyframes run{
    from{
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }

    to{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}