body{
    width: 100%;
    min-width: 1200px;
    background-image: url("../img/login.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.content{
    margin: 15% auto;
    text-align: center;
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    padding: 50px 0;
    h1, h2{
        font-size: 20px;
        color: white;
    }
    .ball{
        width: 20%;
        // padding: 
        display: flex;
        margin: 0 auto;
        justify-content: space-evenly;
        // background-color: #bfa;
        span{
            margin: 0 2px;
            display: block;
            width: 10px;
            height: 10px;
            background-color: red;
            animation: run 1.5s infinite alternate;
            &:nth-child(2){
                animation-delay: 0.2s;
            }
            &:nth-child(3){
                animation-delay: 0.4s;
            }
        }
    }
}

@keyframes run{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-10px);
    }
}