body{
    width: 100%;
    min-width: 1200px;
    background-image: url("../img/register.jpg");
    background-repeat: no-repeat;
}

form{
    width: 300px;
    height: 300px;
    margin: 15% auto;
    background-color: #F57AC030;
    color: white;
    display: flex;
    flex-direction: column;
    h1{
        margin: 40px auto;
    }
    div{
        display: flex;
        flex-direction: column;
        input{
            width: 70%;
            margin: 10px auto;
        }
        button{
            width: 60%;
            margin: 20px auto;
        }
    }
}